* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.container {
  width: 100%; }

.container-bar {
  width: 200px;
  border-right: 1px solid #000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 20px; }
  .container-bar li {
    line-height: 30px; }

.content-con {
  width: 100%;
  box-sizing: border-box;
  margin-left: 200px; }
